#topbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: auto;
    padding: 10px 30px 30px 10px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 10px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: black;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px;
}

.graph-container {
    min-width: 400px;
}

.stats-label {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.7;
    margin-bottom: 8px;
    color:black;
}

.stats-value {
    font-size: 24px;
    font-weight: bold;
}

#stat-active {
    color: #4ade80;
}

#stat-disabled {
    color: #f87171;
}

#stat-ghost {
    color: #fbbf24;
}

.follower-changes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.follower-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}